/* Wiking generic page content styles (to be used with media="all") */

div.errors, #messages .error, #messages .info, #messages .warning { 
    border-style: solid;
    border-width: 1px 0;
    padding: 0.3em;
    margin: 1em 0;
}
#messages .info { 
    color: $color.message-fg;
    background-color: $color.message-bg;
    border-color: $color.message-border;
}
div.errors, #messages .error, #messages .warning { 
    color: $color.error-fg;
    background-color: $color.error-bg;
    border-color: $color.error-border;
}

img { position: relative; } /* MSIE float workaround */
.hidden { display: none; }

.wiking-info-bar {
    margin: 1em 0 0.5em 0;
    padding: .3em;
    padding-left: 32px;
    border: dotted 2px $color.message-border;
    /* background-color: $color.background; */
    background-image: url(/_resources/info.png);
    background-position: 2px center;
    background-repeat: no-repeat;
}

/* styles for exported LCG elements */

hr {
    height: 1px;
    background-color: $color.border;
    border: 0px;
}
hr.new-page {
    height: 4px;
    background-color: transparent;
    border: 1px dotted $color.border;
    border-width: 1px 0;
}
ul {
    margin-top: 0.1em;
    margin-bottom: 0.1em; 
}
li {
    margin-top: 0; 
    margin-bottom: 0; 
}
a.backref, a:link.backref { 
    color: $color.foreground !important; /* important needed for MSIE */
    text-decoration: none;
}

.lcg-citation, .lcg-quotation { 
    font-style: italic;
}
.underline { 
    text-decoration: underline;
}
dt .lcg-citation { 
    font-style: normal;
}
dt em { 
    font-weight: normal;
}
dl dt {
    font-weight: bold;
}

table.lcg-table {
    border-collapse: collapse;
}
table.lcg-table, table.lcg-fieldset { margin: 0.5em 0; }
table.lcg-table td, table.lcg-table th {
    padding: 2pt;
    vertical-align: top;
    white-space: nowrap;
    border: solid $color.border 1px;
}
table.lcg-table td { background-color: $color.table-cell; }
table.lcg-table th { background-color: $color.heading-bg; }
table.lcg-table caption, table.lcg-fieldset caption {
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
}
table.lcg-fieldset th { white-space: nowrap; text-align: left; padding-right: 0.5em; }

pre.lcg-preformatted-text {
    background-color: $color.frame-bg;
    border: solid $color.frame-border 1px;
    color: $color.foreground;
    padding: 0.3em;
    white-space: pre;
}

img.lcg-image { 
    margin: .5em .8em;
}
img.lcg-image.left-aligned { 
    margin: .25em 1em .25em 0;
}
img.lcg-image.right-aligned { 
    margin: .25em 0 .25em 1em;
}

div.table-of-contents { 
    border: solid $color.frame-border;
    border-width: 1px 0;
    background-color: $color.frame-bg;
    margin: 1em 0;
    padding: 3pt;
}
div.table-of-contents ul { 
    margin-top: 3pt;
    margin-bottom: 0;
}

#login, #password { 
    border: 1px solid $color.border;
}

/* Wiking CMS specific styles */
.cms-page-actions { 
    margin: 1em 0 0 0;
    position: relative;
    top: 0.2em;
    padding-top: 0.2em;
    border-top: 1px solid $color.border;
}
.cms-page-actions button.disabled span { 
    color: $color.foreground;
    opacity: 0.4;
}
.cms-page-actions button.action-update span { 
    background-image: url(/_resources/edit.png);
    padding-left: 19px;
}
.cms-page-actions button.action-options span { 
    background-image: url(/_resources/properties.png);
    padding-left: 19px;
}
.cms-page-actions button.action-commit span { 
    background-image: url(/_resources/publish.png);
    padding-left: 19px;
}
.cms-page-actions button.action-revert span { 
    background-image: url(/_resources/undo.png);
    padding-left: 19px;
}
.cms-page-actions button.action-attachments span { 
    background-image: url(/_resources/attachment.png);
    padding-left: 19px;
}
.list-form-controls button.prev-page-button span {
    background-image: url(/_resources/previous.png);
    padding-left: 18px;
}
.list-form-controls button.next-page-button span {
    background-image: url(/_resources/next.png);
    padding-right: 20px;
    background-position: right center;
}
.list-form-controls button.search-button span {
    background-image: url(/_resources/search.png);
    padding-left: 18px;
}


div.discussions .pytis-form.list-view.discussions .summary { display: none; }
div.discussions .pytis-form.list-view.discussions h3 { 
    margin-top: 0;
    font-weight: normal;
    font-size: 1em;
    background-color: #eee;
    border-width: 1px 0;
}
div.discussions .pytis-form.list-view.discussions div.list-item { 
    padding-top: 1em;
    padding-bottom: 0.3em;
    margin-bottom: 0;
}
div.discussions .pytis-form.list-view.discussions div.list-item.group-start { 
    padding-top: 0;
}
div.discussions .pytis-form.list-view.discussions div.list-item .actions { 
    text-align: right;
    margin: 0;
}
div.discussions .pytis-form.list-view.discussions div.list-item .actions button,
div.discussions .pytis-form.list-view.discussions div.list-item .actions button span {
    line-height: 1em;
    padding: 0;
}
div.discussions .pytis-form.edit-form { 
    margin: 1.2em 0;
    background-color: $color.frame-bg;
    border: 1px solid $color.frame-border;
    border-width: 1px 0;
    padding: 0.3em;
}
div.discussions .pytis-form.edit-form div.group,
div.discussions .pytis-form.edit-form div.submit { 
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}
div.discussions .pytis-form.edit-form div.submit { 
    padding: 0;
    text-align: right;
}
div.discussions .pytis-form.edit-form div.submit input { 
    margin: 0;
}
div.discussions .pytis-form.edit-form.discussions div.footer { display: none; }

div.discussions div.login-info p {
    margin: 1em 0;
    padding: 0.5em;
    padding-left: 28px;
    border: dotted 2px $color.message-border;
    /* background-color: $color.background; */
    background-image: url(/_resources/info.png);
    background-position: left center;
    background-repeat: no-repeat;
}

div.wiking-image-gallery img {
    margin-right: 1.6em;
    margin-top: .8em;
    margin-bottom: .8em;
}

form.activation-form {
    float: left;
    margin-right: 0.5em;
}

div.item span.panel-field-date { 
    font-weight: bold;
}

/* Links to unpublished pages */
.unpublished { text-decoration: line-through; }

.page-navigation {
    background-color: $color.frame-bg;
    border: 1px solid $color.frame-border;
    border-width: 1px 0;
    text-align: right;
    padding: 0.1em;
}
.page-navigation.top {
    position: relative;
    top: -0.4em;
    margin-bottom: .5em;
}
.page-navigation.bottom {
    margin-top: 1.2em;
}
.page-navigation .navigation-ctrl {
    background-repeat: no-repeat;
}
.page-navigation .navigation-ctrl.prev {
    background-image: url(/_resources/previous.png);
    background-position: left center;
    padding-left: 18px;
}
.page-navigation .navigation-ctrl.next {
    background-image: url(/_resources/next.png);
    background-position: right center;
    padding-right: 18px;
}
.page-navigation .navigation-ctrl.dead {
    opacity: 0.6;
}

table.diff { border: 1px solid $color.border; margin-top: 0.4em; margin-bottom: 0.2em; }
table.diff td, table.diff th { padding: 0.2em; }
td.diff_header { text-align: right; }
th.diff_header, th.diff_next { background-color: $color.heading-bg; }
td.diff_header, td.diff_next { background-color: $color.frame-bg; }
span.diff_add, span.field.id-diff_add { background-color: #aaffaa; }
span.diff_chg, span.field.id-diff_chg { background-color: #ffff77; }
span.diff_sub, span.field.id-diff_sub { background-color: #ffaaaa; }