/* Wiking generic page content styles */

#messages .info, #messages .success, #messages .error, #messages .warning {
    border-style: solid;
    border-width: 1px 0;
    margin: 0.8em 0;
    padding: 6px 2px 6px 30px;
}
#messages .info {
    /* There's currently no color theme for this... */
    color: $color.foreground;
    border: dotted #dadac0 1px;
    background: #fafae8 url(info.png) 2px center no-repeat;
}
#messages .success {
    color: $color.message-fg;
    border-color: $color.message-border;
    background: $color.message-bg url(success.png) 8px 4px no-repeat;
}
#messages .warning { 
    color: $color.error-fg;
    border-color: $color.error-border;
    background: $color.error-bg url(warning.png) 4px 3px no-repeat;
}
#messages .error {
    color: $color.error-fg;
    border-color: $color.error-border;
    background: $color.error-bg url(error.png) 4px 3px no-repeat;
}

img { position: relative; } /* MSIE float workaround */
.hidden { display: none; }

.wiking-info-bar {
    margin: 1em 0 0.5em 0;
    padding: .3em;
    padding-left: 32px;
    border: dotted 2px $color.message-border;
    /* background-color: $color.background; */
    background-image: url(info.png);
    background-position: 2px center;
    background-repeat: no-repeat;
}

/* styles for exported LCG elements */

hr {
    height: 1px;
    background-color: $color.border;
    border: 0px;
}
hr.new-page {
    height: 4px;
    background-color: transparent;
    border: 1px dotted $color.border;
    border-width: 1px 0;
}
ul {
    margin-top: 0.1em;
    margin-bottom: 0.1em; 
}
li {
    margin-top: 0; 
    margin-bottom: 0; 
}
a.backref, a:link.backref { 
    color: $color.foreground !important; /* important needed for MSIE */
    text-decoration: none;
}

.lcg-citation, .lcg-quotation { 
    font-style: italic;
}
.underline { 
    text-decoration: underline;
}
dt .lcg-citation { 
    font-style: normal;
}
dt em { 
    font-weight: normal;
}
dl dt {
    font-weight: bold;
}

table.lcg-table {
    border-collapse: collapse;
}
table.lcg-table, table.lcg-fieldset {
    margin: 0.5em 0;
}
table.lcg-table td, table.lcg-table th {
    padding: 2pt;
    vertical-align: top;
    white-space: nowrap;
    border: solid $color.border 1px;
}
table.lcg-table td { background-color: $color.table-cell; }
table.lcg-table th { background-color: $color.heading-bg; }
table.lcg-table caption, table.lcg-fieldset caption {
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
}
table.lcg-fieldset {
    padding: 0;
    border-collapse: collapse;
}
table.lcg-fieldset tr { 
    vertical-align: top;
    padding: 0;
}
table.lcg-fieldset th { 
    white-space: nowrap;
    text-align: left; 
    vertical-align: top;
    padding: 0 0.5em 0 0;
}

pre.lcg-preformatted-text {
    background-color: $color.frame-bg;
    border: solid $color.frame-border 1px;
    color: $color.foreground;
    padding: 0.3em;
    white-space: pre;
}

img.lcg-image { 
    margin: .5em .8em;
}
img.lcg-image.left-aligned { 
    margin: .25em 1em .25em 0;
}
img.lcg-image.right-aligned { 
    margin: .25em 0 .25em 1em;
}

figure {
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  width: auto;
  display: table-cell;
}

figure a, figure img {
    display: table-cell;
    margin: auto;
}

figure.left-aligned {
    float: left;
}

figure.right-aligned {
    float: right;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    min-width: 16em;
}

div.table-of-contents { 
    border: solid $color.frame-border;
    border-width: 1px 0;
    background-color: $color.frame-bg;
    margin: 1em 0;
    padding: 3pt;
}
div.table-of-contents ul { 
    margin-top: 3pt;
    margin-bottom: 0;
}

/* Wiking CMS specific styles */
.cms-page-actions { 
    margin: 1em 0 0 0;
    position: relative;
    top: 0.2em;
    padding-top: 0.2em;
    border-top: 1px solid $color.border;
}
.cms-page-actions.cms-publication-actions {
    margin-top: 0;
    border-top: none;
}
.cms-page-actions button.disabled span { 
    color: $color.foreground;
    opacity: 0.4;
}
.cms-page-actions button.action-update span { 
    background-image: url(edit-page.png);
    padding-left: 19px;
}
.cms-page-actions button.action-options span { 
    background-image: url(properties.png);
    padding-left: 19px;
}
.cms-page-actions button.action-new_page span,
.cms-page-actions button.action-new_chapter span {
    background-image: url(new-page.png);
    padding-left: 19px;
}
.cms-page-actions button.action-delete span {
    background-image: url(remove.png);
    padding-left: 19px;
}
.cms-page-actions button.action-commit span { 
    background-image: url(publish.png);
    padding-left: 19px;
}
.cms-page-actions button.action-revert span { 
    background-image: url(undo.png);
    padding-left: 19px;
}
.cms-page-actions button.action-attachments span { 
    background-image: url(attachment.png);
    padding-left: 19px;
}
.pytis-form.edit-form.query-fields-form .submit button.apply-filters span {
    background-image: url(refresh.png);
    padding-left: 19px;
}
.list-form-controls button.prev-page span {
    background-image: url(arrow-left.png);
    padding-left: 16px;
}
.list-form-controls button.next-page span {
    background-image: url(arrow-right.png);
    padding-right: 16px;
    background-position: right center;
}
.list-form-controls button.search span {
    background-image: url(search.png);
    padding-left: 18px;
}
.list-form-controls button.cancel-search span {
    background-image: url(remove.png);
    padding-left: 18px;
}
.pytis-form.edit-form .submit button[type="submit"] span {
    background: url(ok.png) left center no-repeat;
    padding-left: 19px;
}
.pytis-form.edit-form .submit button[name="_cancel"] span {
    background-image: url(remove.png);
}
.pytis-form.edit-form .submit button[type="reset"] span {
    background: url(undo.png) left center no-repeat;
    padding-left: 19px;
}
.pytis-form.edit-form .submit button[type="submit"][name="commit"] span {
    background-image: url(publish.png);
}
.pytis-form .actions button.action-insert span {
    background: url(plus.png) left center no-repeat;
    padding-left: 19px;
}
.pytis-form .actions button.action-list span {
    background: url(arrow-up.png) -2px center no-repeat;
    padding-left: 18px;
}
.pytis-form .actions button.action-delete span {
    background: url(remove.png) left center no-repeat;
    padding-left: 19px;
}
.pytis-form .actions button.action-update span {
    background: url(edit-page.png) left center no-repeat;
    padding-left: 19px;
}
.pytis-form .actions button.action-passwd span {
    background: url(key-16x16.png) left center no-repeat;
    padding-left: 19px;
}
.pytis-form .actions button.action-enable span {
    background: url(thumb-up.png) left center no-repeat;
    padding-left: 19px;
}
.pytis-form .actions button.action-disable span {
    background: url(thumb-down.png) left center no-repeat;
    padding-left: 19px;
}

div.wiking-image-gallery img {
    margin-right: 1.6em;
    margin-top: .8em;
    margin-bottom: .8em;
}

form.activation-form {
    float: left;
    margin-right: 0.5em;
}

div.item span.panel-field-date { 
    font-weight: bold;
}
.feed-icon-link img {
    border: none;
}


/* Links to unpublished pages */
.unpublished { text-decoration: line-through; }

.page-navigation {
    background-color: $color.frame-bg;
    border: 1px solid $color.frame-border;
    border-width: 1px 0;
    text-align: right;
    padding: 0.1em;
}
.page-navigation.top {
    position: relative;
    top: -0.4em;
    margin-bottom: .5em;
}
.page-navigation.bottom {
    margin-top: 1.2em;
}
.page-navigation .navigation-ctrl {
    background-repeat: no-repeat;
}
.page-navigation .navigation-ctrl.prev {
    background-image: url(arrow-left.png);
    background-position: left center;
    padding-left: 16px;
}
.page-navigation .navigation-ctrl.next {
    background-image: url(arrow-right.png);
    background-position: right center;
    padding-right: 16px;
}
.page-navigation .navigation-ctrl.dead {
    opacity: 0.6;
}

table.diff { border: 1px solid $color.border; margin-top: 0.4em; margin-bottom: 0.2em; }
table.diff td, table.diff th { padding: 0.2em; }
td.diff_header { text-align: right; }
th.diff_header, th.diff_next { background-color: $color.heading-bg; }
td.diff_header, td.diff_next { background-color: $color.frame-bg; }
span.diff_add, span.field.id-diff_add { background-color: #aaffaa; }
span.diff_chg, span.field.id-diff_chg { background-color: #ffff77; }
span.diff_sub, span.field.id-diff_sub { background-color: #ffaaaa; }

.pytis-form.publication-export-form div.group,
.pytis-form.publication-export-form div.submit,
.pytis-form.excerpt-export-form div.group,
.pytis-form.excerpt-export-form div.submit {
    margin: 2px;
    padding: 0;
    border: none;
    background: transparent !important;
    text-align: left;
}
.pytis-form.publication-export-form th.label {
    width: 1%; /* Prevent label spanning too wide in Safari */
}
.pytis-form.publication-export-form .submit button,
.pytis-form.excerpt-export-form .submit button {
    margin: 0 6px 0 0;
}
.pytis-form.publication-export-form .radio-group label {
    margin: 0 10px 0 2px;
}
.pytis-form.publication-export-form div.submit button[type="submit"] span {
    background-image: url(down.png);
    background-position: left top;
    padding-left: 19px;
}
.pytis-form.publication-export-form div.submit button[type="submit"][name="test"] span {
    background-image: url(gear-16x16.png);
}

.export-progress-log {
    min-height: 2em;
    max-height: 10em;
    max-width: 66em;
    overflow: scroll;
    border: solid $color.border 1px;
    color: $color.foreground;
    padding: 0.1em;
    white-space: pre;
    
}
.export-progress-log .error-msg .label {
    color: #c00;
    font-weight: bold;
}
.export-progress-log .warning-msg .label {
    font-weight: bold;
}
.export-progress-summary {
    margin-top: 0.3em;
    margin-left: 0.1em;
    white-space: nowrap;
}
.export-progress-summary .label {
    font-weight: bold;
}

/* Screen layout */
@media screen {

body {
    font-family: arial, helvetica, sans-serif;
    color: $color.top-fg;
    background-color: $color.top-bg;
    font-size: 13px;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
}
button, input, select {
    /* Avoid dual application of 0.8em defined above in some elements */
    font-size: 1em;
}
p {
    margin: 0.4em 0;
}
h1, h2, h3 {
    color: $color.heading-fg;
    font-weight: bold;
    text-align: left;
}
h1 {
    background-color: $color.heading-bg;
    padding: 1pt;
    border: solid $color.border;
    border-width: 1px 0px;
}
h2 {
    border: solid $color.heading-line 0px;
    border-bottom-width: 1px;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5,h6,h7,h8,h9 { font-size: 1.1em; }

a:link    { color: $color.link; }
a:visited { color: $color.link-visited; }
a:link:hover, a:visited:hover { color: $color.link-hover; }

h1 a { outline: none; }

#wrap {
}

#top {
    background-color: $color.background;
    padding: 4px;
    /* The rules below fix MSIE 8 popup menu z-index */
    position: relative;
    z-index: 3;
}

#site-title {
    display: inline-block;
    white-space: nowrap;
    padding: 3px 4px;
    font-size: 1.1em;
    float: left;
}

.top-content p {
    margin: 0;
}

#top-controls {
    display: inline-block;
    float: right;
}
#top-controls > span {
    display: inline-block;
    margin-left: 17px;
    padding: 3px 0;
    white-space: nowrap;
    line-height: 16px;
}

#top-controls .label,
#top-controls .invoke-menu {
    padding: 3px 0;
    white-space: nowrap;
    cursor: pointer;
}
#top-controls .invoke-menu {
    border-radius: 3px;
    background: #ddd;
}
#top-controls .invoke-menu.labeled {
    padding-left: 6px;
}
.login-control {
    padding-left: 22px;
    background: url(user.png) 1px center no-repeat;
}
.login-control .login-link {
    color: $color.foreground;
    padding: 3px 5px 3px 23px;
    text-decoration: none;
    border-radius: 3px;
    background: url(arrow-in.png) 3px center no-repeat #ddd;
}
.login-control .login-link:hover {
    color: $color.foreground;
}
.login-control .popup-menu-widget li a {
    padding-left: 28px;
    background-position: 8px center;
    background-repeat: no-repeat;
}
.login-control li.user-profile .label {
    font-size: 0.8em;
    color: $color.help;
}
.login-control li.login a { background-image: url(arrow-in.png); }
.login-control li.logout a { background-image: url(arrow-out.png); }
.login-control li.user-profile a { background-image: url(user-16x16.png); }
.login-control li.change-password a { background-image: url(key-16x16.png); }
.login-control li.new-user-registration a { background-image: url(new-user-16x16.png); }

.admin-control {
    padding-left: 23px;
    background: url(gear.png) 1px center no-repeat;
    margin-right: -10px;
    margin-left: 5px !important;
}
body.preview-mode .admin-control {
    background-image: url(gear-red.png);
}
.admin-control:last-child {
    margin-right: 2px;
}
.admin-control .popup-menu-widget li a {
    padding-left: 28px;
    background-position: 8px center;
    background-repeat: no-repeat;
}
.admin-control li.wmi a { background-image: url(gear-16x16.png); }
.admin-control li.leave-wmi a { background-image: url(arrow-out.png); }
.admin-control li.switch-mode a { background-image: url(refresh.png); }
.admin-control li.edit-page a { background-image: url(edit-page.png); }
.admin-control li.new-page a { background-image: url(new-page.png); }

.language-selection {
}
.language-selection .language-abbr { display: none; }

#top-clearing {
    height: 0;
    clear: both;
}

#middle {
    background: url(shadow.png) 0 -3px repeat-x;
    padding: 4px 8px;
}
body.non-maximized #top-layer1,
body.non-maximized #middle-layer1,
body.non-maximized #bottom {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
body.non-maximized #page {
    /* Force the page div to fit its content.
     * Avoid inner content exceeding to the right side (across panels) when too wide. */
    float: left;
    min-width: 100%;
}

#links {
    display: none;
}

#breadcrumbs {
    display: none;
    /* The rest is a prototype for the case that breadcrumbs are displayed */
    background-color: $color.frame-bg;
    border: solid $color.frame-border 1px;
    border-width: 1px 0;
    padding: 1px 0;
    margin-bottom: 0.3em;
}

#maximized-mode-control {
    position: absolute;
    top: 4px;
    right: 4px;
}
#maximized-mode-control img {
    border: none;
}
body.maximized #submenu {
    display: none;
}
body.maximized #middle {
    padding-left: 0;
    padding-right: 0;
}
body.maximized #main {
    border-left: 0;
    border-right: 0;
}
body.maximized #bottom {
    padding: 0;
}
body.maximized #bottom-bar {
    padding: 1px 4px;
}


/* Horizontal menu bar */

#menu {
    border-bottom: 1px solid $color.top-border;
    padding-left: 3px;
    /* The rules below fix MSIE 8 dropdown menu z-index */
    position: relative;
    z-index: 2;
}
#menu h3 {
    display: none;
}

#menu ul.main-menu-items {
    margin: 0;
    padding: 0;
    height: 20px;
}
#menu li.main-menu-item {
    display: inline-block;
    float: left; /* MSIE 8 hack */
    white-space: nowrap;
    margin-right: 3px;
    position: relative;
    height: 20px;
}
#menu a.navigation-link {
    display: inline-block;
    border: solid $color.top-border 1px;
    font-size: 15px;
    padding: 1px 8px 2px 8px;
    background-color: $color.inactive-folder;
    text-decoration: none;
    position: relative;
    border-radius: 3px 3px 0 0;
    height: 16px;
}
#menu a.navigation-link.expanded {
    z-index: 3;
    background-color: $color.background;
    border-bottom: solid $color.background 1px;
}
#menu a.navigation-link.current {
    background-color: $color.background;
    border-bottom: solid $color.background 1px;
}
#menu a.navigation-link .dropdown-arrow {
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 14px;
    height: 14px;
    background: url(lcg-icons.png) 0 0 no-repeat;
    position: relative;
    bottom: -2px;
    left: 1px;
    margin-left: 3px;
    text-indent: -9999px;
    overflow: hidden;
}
body.non-maximized #menu a.navigation-link.current .dropdown-arrow {
    display: none;
}

#menu .menu-dropdown {
    position: absolute;
    top: 20px;
    left: 0px;
    border: 1px solid $color.top-border;
    z-index: 2;
    font-size: 1.1em;
    background-color: $color.background;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 12px;
}

/* Hierarchical submenu */

body.non-maximized #page.with-submenu #main {
    padding-left: 160px;
}

#submenu {
    position: relative;
    z-index: 1;
    float: left;
    width: 160px;
}
#submenu .menu-panel  {
    position: relative;
    border: 1px solid $color.top-border;
    margin: 10px 10px 0 8px;
}
#submenu h3 {
    margin: 0;
    font-size: 1.1em;
    padding: 2px 4px;
    background-color: $color.heading-bg;
    border-bottom: 1px solid $color.top-border;
}
#submenu button.toggle-menu-expansion {
    position: absolute;
    top: 4px;
    right: 4px;
}
* html #submenu button.toggle-menu-expansion { right: 10px; } /* MSIE hack */

/* This makes panels to skip in Firefox when page content is too wide...
#submenu li a:hover {
    outline: solid 1px $color.heading-line;
}*/

/* Panels */
body.with-panels #page {
    position: relative;
}
body.non-maximized.with-panels #main,
body.non-maximized.with-panels #menu,
body.non-maximized.with-panels #bottom-bar,
body.non-maximized.with-panels #footer {
    margin-right: 220px;
}
body.non-maximized #panels {
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 1;
    float: right;
    width: 220px;
}
body.maximized #panels .panel {
    width: 212px;
    display: inline-block;
    vertical-align: top;
}


#panels .panel {
    margin-bottom: 8px;
    margin-left: 8px;
    color: $color.foreground;
    border: 1px solid $color.top-border;
    background-color: $color.background;
}
#panels .panels-bottom-content {
    margin: 0 0 8px 8px;
}
#panels .panel h3 {
    padding: 2px 4px;
    margin: 0;
    font-size: 1.1em;
    position: relative;
    background-color: $color.heading-bg;
    border-bottom: 1px solid $color.top-border;
}
#panels .panel .panel-content {
    padding: 2px 4px;
}
#panels .panel-content ul, #panels .panel-content ol {
    padding-left: 1.5em;
    margin: 0;
}
#panels .panel-content form { margin: 5px 0; }

/* The actual page content */

#main {
    position: relative;
    color: $color.foreground;
    background-color: $color.background;
    border: 1px solid $color.top-border;
    padding: 10px 11px;
    margin-bottom: 8px;
    border-top: 0px; /* The top border is part of the menu bar. */
}
#main h1 {
    margin-top: 0;
    margin-bottom: 12px;
    padding-right: 24px; /* Space for the maximize/minimize button. */
}
#content {
    position: relative; /* fix MSIE background painting */
}
#clearing {
    height: 0;
    font-size: 0;
    clear: left;
}
#page-clearing {
    height: 0;
    font-size: 0;
}

/* Bottom part of the page */
#bottom {
    clear: both;
    padding: 0 8px;
}
#bottom-bar {
    text-align: right;
    font-size: 0.9em;
    border: solid $color.top-border;
    border-width: 1px 0px;
    background-color: $color.heading-bg;
    padding: 1px 2px;
    margin-bottom: 12px;
}
#bottom-bar span.left { float: left; }
#bottom-bar div.left { text-align: left; }
#bottom-bar a { text-decoration: none; }
#bottom-bar hr { display: none; }

#last-change {
    text-align: right;
    font-size: 0.75em;
}

#shared-audio-player {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}
div#shared-audio-player {
    color: $color.error-fg;
    background-color: $color.error-bg;
    border: solid 1px $color.error-border;
    padding: .1em;
}

#footer {
    font-size: 0.9em;
    text-align: center;
    margin: 12px 0;
}
#footer p { margin: 1px 0; }
#footer img { margin: 5px; }
#footer hr { display: none; }

/* Special controls */

form.login-form {
    background-color: $color.frame-bg;
    border: 1px solid $color.frame-border;
    border-width: 1px 0;
    padding: 14px 30px;
    margin: 0 32px 14px 0;
}
form.login-form input {
    margin-bottom: 12px;
    border: 1px solid $color.border;
}
form.login-form ul {
    margin-top: 14px;
}
form.login-form label {
    font-weight: bold;
}

} /* End of @media screen. */

/* Tablet screen layout */
@media only screen and (max-width: 991px) { 

body.non-maximized.with-panels #main,
body.non-maximized.with-panels #menu,
body.non-maximized.with-panels #bottom-bar,
body.non-maximized.with-panels #footer {
    margin-right: 0px;
}
body.non-maximized #middle {
    padding-left: 0;
    padding-right: 0;
}
body.non-maximized #main {
    border-left: 0;
    border-right: 0;
}

body.non-maximized #panels {
    position: static;
    float: none;
    width: auto;
}
body.non-maximized #panels .panel {
    width: 212px;
    display: inline-block;
    vertical-align: top;
}
body.non-maximized #bottom {
    padding: 0;
}
body.non-maximized #bottom-bar {
    padding: 1px 4px;
}
.language-selection .label { display: none; }

} /* End of tablet screen layout */

/* Bigger mobile phone screen layout */
@media only screen and (max-width: 767px) { 

#submenu {
    display: none;
}
body.non-maximized div#page.with-submenu #main {
    /* div#page is needed for MSIE to increase specificity. */
    padding-left: 10px;
}
body.non-maximized #menu a.navigation-link.current .dropdown-arrow {
    display: inline-block;
}
#maximized-mode-control {
    display: none;
}
#site-title .separator, #site-title .subtitle { display: none; }

.list-form-controls button.prev-page span,
.list-form-controls button.next-page span,
.list-form-controls button.cancel-search span,
.list-form-controls button.search span {
    width: 0px;
    padding-left: 16px;
    padding-right: 0;
    overflow: hidden;
}

} /* End of bigger mobile phone screen layout */

/* Smaller mobile phone screen layout */
@media only screen and (max-width: 600px) {

.language-selection .language-name { display: none; }
.language-selection .language-abbr { display: inline; }
.login-control .displayed-user-name { display: none; }
.login-control .popup-menu-ctrl-widget { background: none; }
.login-control .login-link { display: none }
#top-controls .login-control .invoke-menu.labeled { padding-left: 0; }

} /* End of smaller mobile phone screen layout */

/* Print specific styles */
@media print {

body {
    color : #000;
    background : #fff;
    font-family : "Times New Roman", Times, serif;
    font-size : 10pt;
}
table td, table th, input { font-size: 10pt; }

a {
    text-decoration : underline;
    color : #00f;
}
a.backref, a:link.backref, h1 a { 
    color: #000 !important; /* important needed for MSIE */
    text-decoration: none;
}
form.browse-form table td, form.browse-form table th {
    border-color: #000;
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.1em; }
h7 { font-size: 1.1em; }

#top, #links, #breadcrumbs, #menu, #submenu, #panels, #bottom, 
form.list-form-controls .paging-controls {
    display: none;
}

#maximized-mode-control {
    display: none;
}

} /* End of @media print. */

/* Override default LCG widget colors by Wiking color theme colors */
/* Original selectors must be duplicated here and prefixed by 'body' to get more specificity. */

body .foldable-tree-widget a.current .label {
    background-color: $color.heading-bg
}
body .notebook-widget ul.notebook-switcher {
    border-bottom-color: $color.top-border;
}
body .notebook-widget li.notebook-tab a {
    border-color: $color.top-border;
}
@media print {
    body .notebook-widget ul.notebook-switcher {
	border-bottom-color: #aaa;
    }
    body .notebook-widget li.notebook-tab a {
	border-color: #aaa;
    }
}
body .notebook-widget li.notebook-tab a.current {
    background-color: $color.background;
    border-bottom-color: $color.background;
}
body .popup-menu-widget {
    font-size: 14px;
}
body .dropdown-selection-widget .dropdown-selection {
    background-color: $color.background;
    border-color: $color.top-border;
}
body .dropdown-selection-widget .dropdown-selection li.active a {
    color: $color.foreground;
}

/* Override default Pytis form colors by current Wiking color theme colors. */

body .pytis-form.edit-form .errors,
body .pytis-form.query-fields-form .errors {
    color: $color.error-fg;
    background-color: $color.error-bg;
    border-color: $color.error-border;
}

body .pytis-form .group,
body .pytis-form .submit,
body .pytis-form .paging-controls {
    background-color: $color.frame-bg;
    border-color: $color.frame-border;
}
body .pytis-form.query-fields-form .submit {
    background: none;
}
body .pytis-form.query-fields-form .group {
    background: none;
    border: none;
}
* html body .pytis-form fieldset.group legend {
    color: $color.foreground;
}
body .pytis-form.browse-form table.data-table tr.data-row td,
body .pytis-form.browse-form table.data-table tr.row-expansion td,
body .pytis-form.browse-form table.data-table tr.column-headings th,
body .pytis-form.browse-form table.data-table tr.group-heading th {
    border-color: $color.border;
}
@media print {
    body .pytis-form.browse-form table.data-table,
    body .pytis-form.browse-form table.data-table tr.data-row td,
    body .pytis-form.browse-form table.data-table tr.row-expansion td,
    body .pytis-form.browse-form table.data-table tr.column-headings th,
    body .pytis-form.browse-form table.data-table tr.group-heading th {
	border-color: #ddd;
    }
}
body .pytis-form.browse-form table.data-table tr.column-headings th.column-heading,
body .pytis-form.browse-form table.data-table tr.group-heading th {
    background-color: $color.heading-bg;
}
body .pytis-form.browse-form table.data-table tr.data-row,
body .pytis-form.browse-form table.data-table tr.row-expansion {
    background-color: $color.table-cell;
}
body .pytis-form.browse-form table.data-table tr.data-row.even {
    background-color: $color.table-cell2;
}

body .pytis-form.browse-form table.data-table tfoot td {
    background-color: $color.frame-bg;
    border-color: $color.frame-border;
}
body .pytis-form.browse-form #found-record {
    background-color: $color.highlight-bg;
}
body .pytis-form.list-view div.tree-indent {
    border-left-color: $color.frame-border
}
body .pytis-form.list-view #found-record h3 {
    background-color: $color.highlight-bg;
}
body .pytis-form.list-view div.list-item div.meta {
    color: $color.meta-fg;
    background-color: $color.meta-bg;
}
body .pytis-form .field-label.disabled {
    color: $color.help; 
}
body .pytis-form .group span.color-display {
    border-color: $color.border;
}
body .pytis-form.show-form .group textarea,
body .pytis-form.list-view .group textarea {
    background-color: $color.frame-bg;
}
body .pytis-form.edit-form div.help {
    color: $color.help;
}
body .pytis-form input.text-search-field,
body .pytis-form.edit-form input.text-field,
body .pytis-form.edit-form textarea,
body .pytis-form.edit-form select {
    border-color: $color.border;
}
body .pytis-form.list-view div.summary {
    border-top-color: $color.frame-border;
}
/*.pytis-form .invalid {
    background-color: $color.error-bg;
}*/
body .actions button[disabled] span,
body .list-form-controls button[disabled] span {
    color: $color.foreground;
}
