body {
    font-family: arial, verdana, sans-serif, helvetica;
    color: $color.top-fg;
    background-color: $color.top-bg;
    font-size: 0.8em;
    margin: 2pt 6pt;
}
table td, table th { 
    font-size: 0.8em;
}
p {
    margin: 0.4em 0;
}
hr {
    height: 1px;
    background: $color.border;
    border: 0px;
}
h1, h2, h3 {
    color: $color.heading-fg;
    font-weight: bold;
    text-align: left;
}
h1 { 
    background-color: $color.heading-bg;
    padding: 1pt; 
    border: solid $color.border;
    border-width: 1px 0px;
}
h2, h3 { 
    border: solid $color.heading-line 0px;
    border-bottom-width: 1px;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5,h6,h7,h8,h9 { font-size: 1.1em; }

a:link    { color: $color.link; }
a:visited { color: $color.link-visited; }
a:link:hover, a:visited:hover { color: $color.link-hover; }

a.backref, a:link.backref { 
    color: $color.foreground !important; /* important needed for MSIE */
    text-decoration: none;
}


.hidden { display: none; }

/*img { position: relative; } /* MSIE float workaround */

/* Page layout */

#page { 
    padding-top: 0.3em;
}
#top { 
}
#top hr { display: none; }

#site-title { 
    font-size: 1.1em;
    max-width: 70%;
}
#breadcrumbs { 
    display: none;
}

/* Menu with folders */
#main-menu {
    border-bottom: 1px solid $color.top-border;
    padding-left: 0.2em;
    /* padding-bottom: 0.1em; */
    /* leave some space for language selection and panel controls */
    padding-right: 6em; 
}
#main-menu h3 {
    display: none;
}
#main-menu ul { 
    margin: 0;
    padding: 0;
}
#main-menu li {
    display: inline;
    white-space: nowrap;
}
#main-menu a.navigation-link {
    border: solid $color.top-border 1px;
    padding: 0 0.6em; /* 0.1em 0.6em; */
    background-color: $color.inactive-folder;
    text-decoration: none; /* ??? */
}
#main-menu a.navigation-link.current {
    background-color: $color.background;
    border-bottom: solid $color.background 1px;
}

/* Hierarchical submenu */
#page.with-submenu #content { 
    padding-left: 12em;
}
#submenu { 
    position: relative;
    z-index: 1;
    float: left;
    width: 12em;
}
#submenu-frame { 
    position: relative;
    border: 1px solid $color.top-border;
    margin: 0.8em 0.5em 0.5em 0.8em;
    padding: 0;
}
#submenu h3 {
    margin: 0;
    font-size: 1.1em;
    padding: 0.1em 0.2em;
    background-color: $color.heading-bg;
    border-bottom: 1px solid $color.top-border;
}
#submenu ul { 
    display: block;
    padding: 0.3em;
    padding-left: 1.5em;
    margin: 0;
}
#submenu ul ul { 
    padding-left: 1em;
}
#submenu li { 
    display: inline; /* MSIE has problems with block element inside a list item... */
}
#submenu li a { 
    display: list-item;
    list-style-type: circle;
}
#submenu li a.current { 
    background-color: $color.heading-bg;
    list-style-type: disc;
}
/* This makes panels to skip in Firefox when page content is too wide...
#submenu li a:hover { 
    outline: solid 1px $color.heading-line;
}*/

#language-selection { 
    position: absolute;
    top: 2pt;
    right: 6pt;
    font-size: 0.9em;
    max-width: 55%;
    /*white-space: nowrap;*/
}
#language-selection a.current { background-color: $color.highlight-bg; }

/* Panels */

#page.with-panels { 
    float: left; /* Force the main div to fit its content. */
}
#page.with-panels #content { 
    margin-right: 17em;
}
#page.with-panels #main-menu { 
    margin-right: 17em;
    padding-right: 0; 
}
#panels {
    position: relative;
    right: 0.1em; /* Needed for MSIE when page is too wide */
    top: -1px;
    z-index: 1;
    float: right;
    width: 17em;
}
#panels a.panel-control {
    position: absolute;
    right: 0;
    top: -1.4em;
    font-size: 0.8em;
}

div.panel { 
    margin: 0 0em 0.5em 0.5em;
    color: $color.foreground;
    border: 1px solid $color.top-border;
    background-color: $color.background;
}
div.panel h3 { 
    padding: 0.1em 0.2em; 
    margin: 0; 
    font-size: 1.1em;
    position: relative;
    background-color: $color.heading-bg;
    border-bottom: 1px solid $color.top-border; 
}
div.panel div.panel-content { 
    padding: 0.05em 0.2em; 
}
div.panel ul, div.panel ol { 
    padding-left: 1.5em;
    margin: 0;
}
div.panel hr { display: none; }


div.panel-login a.login-ctrl { 
    padding: 0 0.5em;
    margin: 0 0.3em;
    background-color: $color.heading-bg;
    text-decoration: none;
    background: $color.button;
    border: 1px solid $color.button-border;
    white-space: nowrap;
}

/* The actual page content */

#content {
    color: $color.foreground;
    background-color: $color.background;
    border: 1px solid $color.top-border;
    border-top-width: 0; /* The top border must be part of the navigation bar because MSIE... */
    padding: 0.8em;
    margin-bottom: 0.5em;
}
#content h1 { 
    margin-top: 0;
}
#inner-content { 
    position: relative; /* fix MSIE background painting */
}
#content-clearing {
    height: 0;
    font-size: 0;
    clear: left;
}
#clearing { 
    height: 0;
    font-size: 0;
}

/* Wiking bar in page footer */

#bottom { 
    clear: both;
    margin: 1em 0;
}
#wiking-bar { 
    text-align: left; /* needed by MSIE - why? */
    font-size: 0.9em;
    border: solid $color.top-border;
    border-width: 1px 0px;
    background: $color.heading-bg;
}
#wiking-bar .controls { float: right; }
#wiking-bar a { text-decoration: none; }
#wiking-bar hr { display: none; }

#last-change { 
    text-align: right;
    font-size: 0.75em;
}

/* Page footer */

#footer { font-size: 0.9em; text-align: center; margin: 0pt; }
#footer p { margin: 1pt 0pt; }
#footer img { margin: 5pt; }
#footer hr { display: none; }

/* Special controls */

#login-controls { 
    position: absolute;
    top: 0.7em;
    right: 0.9em;
    padding: 0.2em 0 0.3em 0;
}

/* Generic Wiking styles */

/* Links to unpublished pages */
.unpublished { text-decoration: line-through; }

.not-null { 
    color: #f00;
}
form.login-form input {
    margin-bottom: 0.5em;
}

div.errors, p.error, p.message { 
    border-style: solid;
    border-width: 1px 0;
    padding: 0.3em;
    margin: 1em 0;
}
p.message { 
    color: $color.message-fg;
    background: $color.message-bg;
    border-color: $color.message-border;
}
div.errors, p.error { 
    color: $color.error-fg;
    background: $color.error-bg;
    border-color: $color.error-border;
}

/* Specific styles for Wiking modules */

div.item span.panel-field-date { 
    font-weight: bold;
}

/* Pytis forms styles */

form.pytis-form .group, form.pytis-form div.submit, form.browse-form-controls { 
    background: $color.frame-bg;
    border: 1px solid $color.frame-border;
    border-width: 1px 0;
    margin: 0.4em 0;
}
form.pytis-form .group .group {
    border-width: 1px;
}
form.pytis-form div.submit { 
    margin-top: 0.5em;
    padding: 0.5em;
    text-align: center;
}
form.pytis-form div.submit input { 
    padding: 0.1em 0.5em;
    margin: 0 1em;
}


form.browse-form table {
    border-collapse: collapse;
    border: 1px solid $color.border;
    margin-top: .3em;
}
form.browse-form table td, form.browse-form table th {
    padding: 2pt;
    vertical-align: top;
    border: 1px solid $color.border;
}
form.browse-form table td .tree-node {
    white-space: nowrap;
}
form.browse-form table td .multiline {
    white-space: pre;
}

form.browse-form table tr { background: $color.table-cell; }
form.browse-form table tr.even { background: $color.table-cell2; }
form.browse-form table th { background: $color.heading-bg; }
form.browse-form table td pre {
    background-color: transparent;
    border: none;
}
form.browse-form table span.tree-indent {
    padding-left: 0.6em;
}
form.browse-form table tfoot td {
    background-color: $color.frame-bg;
    border: 1px solid $color.frame-border;
    padding: 0;
    text-align: right;
}

form.browse-form-controls {
    margin: 0.8em 0;
    padding: .2em;
    text-align: right;
}
form.browse-form-controls span.offset, form.browse-form-controls span.buttons,
form.browse-form-controls span.limit { 
    white-space: nowrap;
}
form.browse-form-controls span.offset, form.browse-form-controls span.buttons {
    float: left;
}
form.browse-form-controls span.buttons input.prev {
    margin-left: 1em;
}

form.list-view div.list-item {
    margin-bottom: 1.1em;
}
form.list-view div.list-item h3 {
    margin-bottom: 0.2em;
    font-size: 1.2em;
}
form.list-view div.list-item img.list-layout-image {
    float: right;
    margin-left: .6em;
    margin-bottom: 1.1em;
} 
form.list-view div.list-item div.meta {
    font-style: italic;
    margin: 0.2em 0;
    color: $color.meta-fg;
    padding: 0.1em 0;
    background: $color.meta-bg;
}
form.pytis-form fieldset.body div.field { 
    margin: 0.2em 0;
}
form.pytis-form label { 
    white-space: nowrap;
    font-weight: bold;
}
form.pytis-form .group table { 
    border-collapse: collapse;
}
form.pytis-form td.label { 
    padding-right: 0.3em;
    line-height: 1.4em;
}

form.pytis-form .group span.color-display { 
    padding: 0 0.5em;
    border: 1px solid $color.border;
}
form.pytis-form .group span.color-value { 
    float: left;
    width: 4em;
}
form.show-form .group textarea, form.list-view .group textarea {
    background: $color.frame-bg;
    border: 0px;
    font-size: 1em;
}
form.show-form, form.edit-form { 
    margin: 0.4em 0;
    padding: 0;
}
form.edit-form div.help { 
    color: $color.help;
    margin-bottom: 0.4em;
}
form.edit-form .group input, form.edit-form textarea,
form.edit-form select, #login, #password { 
    border: 1px solid $color.border;
}

/* Modification of button controls is arguable...
    background: $color.button;
    border: 1px solid $color.button-border;
}
form.edit-form fieldset.controls input:hover { 
    background: $color.button-hover;
}
*/

div.actions { 
    margin: 1em 0;
}
div.actions.separated { 
    background: $color.frame-bg;
    border: 1px solid $color.frame-border;
    border-width: 1px 0;
    padding: 0.5em 0.3em;
    margin-top: 1.5em;
    margin-bottom: 0;
    text-align: left; /* MSIE */
}
div.actions.separated hr { 
    display: none;
}
div.actions a { 
    padding: 0 0.5em;
    margin-right: 0.8em;
    text-decoration: none;
    color: $color.button-fg;
    background: $color.button;
    border: 1px solid $color.button-border;
}
div.actions a:hover { 
    background: $color.button-hover;
}
div.actions a.inactive, p.actions a.inactive:hover { 
    color: $color.button-inactive-fg;
    background: $color.button-inactive;
    border-color: $color.button-inactive-border;
}

/* LCG Formatter styles */

ul {
    margin-top: 0.1em;
    margin-bottom: 0.1em; 
}
li {
    margin-top: 0; 
    margin-bottom: 0; 
}

.citation, .quotation { 
    font-style: italic;
}
.underline { 
    text-decoration: underline;
}
dt .citation { 
    font-style: normal;
}
dt em { 
    font-weight: normal;
}
dl dt {
    font-weight: bold;
}

table.lcg-table {
    border-collapse: collapse;
}
table.lcg-table, table.lcg-fieldset { margin: 0.5em 0; }
table.lcg-table td, table.lcg-table th {
    padding: 2pt;
    vertical-align: top;
    white-space: nowrap;
    border: solid $color.border 1px;
}
table.lcg-table td { background: $color.table-cell; }
table.lcg-table th { background: $color.heading-bg; }
table.lcg-table caption, table.lcg-fieldset caption {
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
}
table.lcg-fieldset th { white-space: nowrap; }

pre.lcg-preformatted-text {
    background: $color.frame-bg;
    border: solid $color.frame-border 1px;
    color: $color.foreground;
    padding: 0.3em;
    white-space: pre;
}

div.table-of-contents { 
    border: solid $color.frame-border;
    border-width: 1px 0;
    background: $color.frame-bg;
    margin: 1em 0;
    padding: 3pt;
}
div.table-of-contents ul { 
    margin-top: 3pt;
    margin-bottom: 0;
}


/* Border-less table:
form.browse-form.mapping table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 0;
}
form.browse-form.mapping table tbody td {
    border-width: 0;
}
form.browse-form.mapping table th {
    border-width: 1px 0;
} */
