/* Wiking screen layout (to be used with media="screen") */

body {
    font-family: arial, verdana, sans-serif, helvetica;
    color: $color.top-fg;
    background-color: $color.top-bg;
    font-size: 0.8em;
    margin: 2pt 6pt;
}
table td, table th {
    font-size: 0.8em;
}
p {
    margin: 0.4em 0;
}
hr {
    height: 1px;
    background-color: $color.border;
    border: 0px;
}
h1, h2, h3 {
    color: $color.heading-fg;
    font-weight: bold;
    text-align: left;
}
h1 {
    background-color: $color.heading-bg;
    padding: 1pt;
    border: solid $color.border;
    border-width: 1px 0px;
}
h2, h3 {
    border: solid $color.heading-line 0px;
    border-bottom-width: 1px;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5,h6,h7,h8,h9 { font-size: 1.1em; }

a:link    { color: $color.link; }
a:visited { color: $color.link-visited; }
a:link:hover, a:visited:hover { color: $color.link-hover; }

#top hr { display: none; }

#site-title {
    font-size: 1.1em;
    max-width: 70%;
}

#page {
    padding-top: 0.3em;
    min-width: 100%;
}

#links {
    display: none;
}

#breadcrumbs {
    display: none;
    /* The rest is a prototype for the case that breadcrumbs are displayed */
    background-color: $color.frame-bg;
    border: solid $color.frame-border 1px;
    border-width: 1px 0;
    padding: 1px 0;
    margin-bottom: 0.3em;
}

#language-selection {
    position: absolute;
    top: .5em;
    right: 8em;
    max-width: 55%;
    font-size: 0.9em;
    /*white-space: nowrap;*/
}
#language-selection a.current { background-color: $color.highlight-bg; }

/* Horizontal menu with folders */

#page.with-menu #menu {
    border-bottom: 1px solid $color.top-border;
    padding-left: 0.2em;
    /* leave some space for language selection and panel controls */
    padding-right: 6em;
}
#page.with-menu #main {
    border-top-width: 0; /* The top border must be part of the navigation bar because MSIE... */
}
#page.with-menu #panels {
    top: -1px;
}
#page.with-menu #language-selection {
    top: 2pt;
    right: 6pt;
}

#menu h3 {
    display: none;
}
#menu ul {
    margin: 0;
    padding: 0;
}
#menu li {
    display: inline;
    white-space: nowrap;
    margin-right: 0.3em;
}
#menu a.navigation-link {
    border: solid $color.top-border 1px;
    padding: 0 0.6em; /* 0.1em 0.6em; */
    background-color: $color.inactive-folder;
    text-decoration: none; /* ??? */
}
#menu a.navigation-link.current {
    background-color: $color.background;
    border-bottom: solid $color.background 1px;
}

/* Hierarchical submenu */

#page.with-submenu #main {
    padding-left: 12em;
}

#submenu {
    position: relative;
    z-index: 1;
    float: left;
    width: 12em;
}
#submenu div.menu-panel  {
    position: relative;
    border: 1px solid $color.top-border;
    margin: 0.8em 0.5em 0.5em 0.8em;
    padding: 0;
}
#submenu h3 {
    margin: 0;
    font-size: 1.1em;
    padding: 0.1em 0.2em;
    background-color: $color.heading-bg;
    border-bottom: 1px solid $color.top-border;
}
#submenu ul {
    display: block;
    list-style-type: none;
    padding: 0.1em 0.2em 0.1em 0.3em;
    margin: 0;
}
#submenu ul ul {
    padding-left: 1em;
    padding-right: 0;
}
#submenu li { 
    line-height: 1.2em;
    width: 100%;
}
#submenu li a, #submenu li a span {
    display: block;
    clear: both;
}
#submenu li a {
    cursor: default;
    padding-left: 14px;
}
#submenu li a span {
    cursor: pointer;
    padding: 0.1em 0;
    margin-left: 1px; /* Fix MSIE bullet display */
}
#submenu li a span.bullet {
    display: list-item;
    list-style-type: circle;
}
#submenu li a.current span {
    background-color: $color.heading-bg;
}
#submenu li.foldable {
    background-image: url(/_resources/images/folder-open.png);
    background-position: left 0.35em;
    background-repeat: no-repeat;
}
#submenu li.foldable.folded {
    background-image: url(/_resources/images/folder-closed.png);
}
#submenu li.folded ul {
    display: none;
}
#toggle-menu-expansion-button {
    padding: 0;
    margin: 0;
    border: none;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 0.45em;
    right: 0.3em;
    background-image: url(/_resources/images/folder-closed.png);
    background-position: center;
    background-repeat: no-repeat;
}
* html #toggle-menu-expansion-button { right: 0.8em; } /* MSIE hack */
#toggle-menu-expansion-button.expanded {
    background-image: url(/_resources/images/folder-open.png);
}

/* This makes panels to skip in Firefox when page content is too wide...
#submenu li a:hover {
    outline: solid 1px $color.heading-line;
}*/

/* Panels */
#page.with-panels {
    float: left; /* Force the main div to fit its content. */
}
#page.with-panels #main {
    margin-right: 17em;
}
#page.with-panels #menu {
    margin-right: 17em;
    padding-right: 0;
}
#panels {
    position: relative;
    right: 0.1em; /* Needed for MSIE when page is too wide */
    z-index: 1;
    float: right;
    width: 17em;
}
#panels a.panel-control {
    position: absolute;
    top: -1.4em;
    font-size: 0.8em;
    right: 0;
}
div#panels-menu-item {
    margin-left: 0.5em;
}

div.panel {
    margin: 0 0em 0.5em 0.5em;
    color: $color.foreground;
    border: 1px solid $color.top-border;
    background-color: $color.background;
}
div.panel h3 {
    padding: 0.1em 0.2em;
    margin: 0;
    font-size: 1.1em;
    position: relative;
    background-color: $color.heading-bg;
    border-bottom: 1px solid $color.top-border;
}
div.panel div.panel-content {
    padding: 0.05em 0.2em;
}
div.panel ul, div.panel ol {
    padding-left: 1.5em;
    margin: 0;
}
div.panel hr { display: none; }
div.panel form { margin: 0.3em 0; }

#panel-login a.login-ctrl {
    color: $color.foreground;
    border: 1px solid $color.top-border;
    background-color: $color.heading-bg;
    padding: 0 0.5em;
    text-decoration: none;
    white-space: nowrap;
    margin: 0 0.3em;
}
#panel-login a.login-ctrl:hover {
    background-color: $color.highlight-bg;
}

#panel-login div.panel-content {
    padding: 0.3em;
    line-height: 1.3em;
}


/* The actual page content */

#main {
    position: relative;
    color: $color.foreground;
    background-color: $color.background;
    border: 1px solid $color.top-border;
    padding: 0.8em;
    margin-bottom: 0.5em;
}
#main h1 {
    margin-top: 0;
    margin-bottom: 0.8em;
}
#content {
    position: relative; /* fix MSIE background painting */
    width: 100%;
}
#clearing {
    height: 0;
    font-size: 0;
    clear: left;
}
#page-clearing {
    height: 0;
    font-size: 0;
}

/* Bottom part of the page */

#bottom {
    clear: both;
    margin: 1em 0;
}
#bottom-bar {
    text-align: right;
    font-size: 0.9em;
    border: solid $color.top-border;
    border-width: 1px 0px;
    background-color: $color.heading-bg;
}
#bottom-bar { text-align: right; }
#bottom-bar span.left { float: left; }
#bottom-bar div.left { text-align: left; }
#bottom-bar a { text-decoration: none; }
#bottom-bar hr { display: none; }

#last-change {
    text-align: right;
    font-size: 0.75em;
}

#shared-audio-player {
    position: fixed;
    bottom: 0;
    right: 0;
}
div#shared-audio-player {
    color: $color.error-fg;
    background-color: $color.error-bg;
    border: solid 1px $color.error-border;
    padding: .1em;
}

#footer { font-size: 0.9em; text-align: center; margin: 0pt; }
#footer p { margin: 1pt 0pt; }
#footer img { margin: 5pt; }
#footer hr { display: none; }

/* Special controls */

#login-controls {
    position: absolute;
    top: 0.7em;
    right: 0.9em;
    padding: 0.2em 0 0.3em 0;
}

form.login-form {
    background-color: $color.frame-bg;
    border: 1px solid $color.frame-border;
    border-width: 1px 0;
    padding: .8em 2em;
    margin: 0 2.5em 1em 0;
}
form.login-form input {
    margin-bottom: 0.5em;
}
form.login-form ul {
    margin-top: 1em;
}
form.login-form label {
    font-weight: bold;
}
