/* Override default LCG widget colors by Wiking color theme colors */

.foldable-tree-widget li a.current span {
    background-color: $color.heading-bg !important;
}
.notebook-widget ul.notebook-switcher {
    border-bottom-color: $color.top-border !important;
}
.notebook-widget li.notebook-tab a {
    border-color: $color.top-border !important;
}
@media print {
    .notebook-widget ul.notebook-switcher {
	border-bottom-color: #aaa !important;
    }
    .notebook-widget li.notebook-tab a {
	border-color: #aaa !important;
    }
}
.notebook-widget li.notebook-tab a.current {
    background-color: $color.background !important;
    border-bottom-color: $color.background !important;
}
.popup-menu-widget {
    background-color: $color.frame-bg !important;
    border-color: $color.top-border !important;
}
.popup-menu-widget li.active a {
    color: $color.foreground !important;
}
.popup-menu-widget li.active:hover {
    background-color: $color.highlight-bg !important;
}
.dropdown-selection-widget {
    background-color: $color.background !important;
    border-color: $color.top-border !important;
}
.dropdown-selection-widget li.active a {
    color: $color.foreground !important;
}
