/* Panels */

#panels { 
    float: right;
    width: 17em;
}
#content { 
    margin-right: 17em;
    border-right: 1px solid $color.top-border;
}
#navigation-bar { 
    margin-right: 17em;
}

div.panel { 
    margin: 0 0em 0.5em 0.5em;
    color: $color.foreground;
    border: 1px solid $color.top-border;
    background-color: $color.background;
}
div.panel h1 { 
    border-top-width: 0; 
    padding: 0.1em 0.2em; 
    font-size: 1.1em;
    margin: 0;
    position: relative;
}
div.panel h1 .closer { 
    position: absolute;
    right: 0.2em; 
}
div.panel div.panel-content { 
    padding: 0.05em 0.2em; 
}
div.panel ul, div.panel ol { 
    padding-left: 1.5em;
    margin: 0;
}
div.panel hr { display: none; }


