/* Override default Pytis form colors by current Wiking color theme colors. */

.pytis-form.edit-form .errors,
.pytis-form.query-fields-form .errors {
    color: $color.error-fg !important;
    background-color: $color.error-bg !important;
    border-color: $color.error-border !important;
}

.pytis-form .group, .pytis-form div.submit, .pytis-form .paging-controls {
    background-color: $color.frame-bg !important;
    border-color: $color.frame-border !important;
}
.pytis-form.query-fields-form .group {
    background: none !important;
    border: none !important;
}
* html .pytis-form fieldset.group legend { 
    color: $color.foreground !important;
}
.pytis-form.browse-form table.data-table,
.pytis-form.browse-form table.data-table td,
.pytis-form.browse-form table.data-table th {
    border-color: $color.border !important;
}
@media print {
    .pytis-form.browse-form table.data-table,
    .pytis-form.browse-form table.data-table td,
    .pytis-form.browse-form table.data-table th {
	border-color: #ddd !important;
    }
}

.pytis-form.browse-form table.data-table tr { background-color: $color.table-cell !important; }
.pytis-form.browse-form table.data-table tr.even { background-color: $color.table-cell2 !important; }
.pytis-form.browse-form table.data-table th { background-color: $color.heading-bg !important; }

.pytis-form.browse-form table.data-table tfoot td {
    background-color: $color.frame-bg !important;
    border-color: $color.frame-border !important;
}
.pytis-form.browse-form #found-record {
    background-color: $color.highlight-bg !important;
}
.pytis-form.list-view div.tree-indent {
    border-left-color: $color.frame-border
}
.pytis-form.list-view #found-record h3 {
    background-color: $color.highlight-bg !important;
}
.pytis-form.list-view div.list-item div.meta {
    color: $color.meta-fg !important;
    background-color: $color.meta-bg !important;
}
.pytis-form .field-label.disabled { 
    color: $color.help !important; 
}
.pytis-form .group span.color-display { 
    border-color: $color.border !important;
}
.pytis-form.show-form .group textarea, .pytis-form.list-view .group textarea {
    background-color: $color.frame-bg !important;
}
.pytis-form.edit-form div.help { 
    color: $color.help !important;
}
.pytis-form.edit-form .group input.text,
.pytis-form.edit-form .group input.password,
.pytis-form.edit-form .group input.file,
.pytis-form.edit-form .group input.text,
.pytis-form.edit-form textarea,
.pytis-form.edit-form select, #login, #password { 
    border-color: $color.border !important;
}
.pytis-form.list-view div.summary {
    border-top-color: $color.frame-border !important;
}
/*.pytis-form .invalid {
    background-color: $color.error-bg !important;
}*/
.actions button[disabled] span, .list-form-controls button[disabled] span {
    color: $color.foreground !important;
}
